.care {
  width: 100%;
  display: flex;
  justify-content: center;
}

.care__content--wrapper {
  padding: 0 7.86rem;
}

.care__cards {
  width: 100%;

  display: flex;
  justify-content: space-between;
}