.clothing {
  margin-top: 2rem;
  padding-left: 1rem;
}

.clothing__cards {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.clothing__card--desc {
  padding: 2rem 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clothing__card--name {
  position: relative;
  margin-bottom: .5rem;

  @include fontstyles(1.13rem, 300, 1.29, $dark-gray);
  text-decoration: none;

  &:after {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    bottom: 2px;

    width: 0;
    height: 1px;

    background: $dark-gray;
    transition: width .2s ease-in-out;
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }
}

.clothing__cards--price {
  margin-bottom: .5rem;

  @include fontstyles(1.13rem, 300, 1.29, $dark-gray);
  text-decoration: none;
}

.clothing__cards--price-lt {
  text-decoration: line-through;
}

.clothing__cards--sale {
  color: $red;
}

.clothing__card--color {
  width: 100%;
  max-width: 140px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    width: 18px;
    height: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: 1px solid $white;
    transition: border .2s ease-in-out;

    &:hover {
      border: 1px solid $black;
    }
  }

  a.active {
    border: 1px solid $black;
  }
}

.clothing__content--btn {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.clothing__content--link {
  padding: 1rem 1.5rem;
  display: block;

  font-family: inherit;
  @include fontstyles(.93rem, 300, 1.29, $white);
  letter-spacing: .3rem;
  text-transform: uppercase;
  text-decoration: none;

  border: 1px solid $beige;
  color: $dark-gray;
  background: $beige;
  transition: background .2s ease-in-out, border .2s ease-in-out;

  &:active {
    border: 1px solid $dark-beige;
    background: $dark-beige;
  }

  &:hover {
    border: 1px solid #E4C5AD;
    background: #E4C5AD;
  }

  &:disabled {
    border: 1px solid $light-gray;
    background: $light-gray;
  }
}