.intro-category {
  width: 100%;

  display: flex;
  justify-content: center;
}

.intro-category__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.intro-category__card {
  position: relative;
}

.intro-category__link {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translateX(-50%);

  display: block;
  padding: 1rem 2rem;

  font-family: 'Montserrat', sans-serif;
  @include fontstyles(1.13rem, 300, 1.17, $black);
  text-transform: uppercase;
  letter-spacing: .3rem;
  text-decoration: none;
  transition: background .2s ease-in-out;

  background: rgba(255, 255, 255, 0.8);

  &:hover {
    background: rgb(255, 255, 255);
  }
}

.intro-category__mask {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity .2s ease-in-out;

  background: rgba(49, 49, 46, 0.2);
}

.intro-category__mask.active {
  opacity: 1;
}