<footer class="footer">
   <div class="wrapper">
      <div class="footer__content">
         <div class="footer__left">
            <ul class="footer__items">
               <li class="footer__item">
                  <a href="#!">
                     <img src="assets/images/svg/Insta.svg" alt="Insta">
                  </a>
               </li>
               <li class="footer__item">
                  <a href="#!">
                     <img src="assets/images/svg/Facebook.svg" alt="Facebook">
                  </a>
               </li>
               <li class="footer__item">
                  <a href="#!">Догляд</a>
               </li>
               <li class="footer__item">
                  <a href="#!">Про бренд</a>
               </li>
               <li class="footer__item">
                  <a href="#!">Lookbooks</a>
               </li>
            </ul>
         </div>
         <a href="#!" class="footer__right">
            <img src="assets/images/svg/BTNUP.svg" alt="BtnUp">
         </a>
      </div>
   </div>
</footer>
