<!-- modals forgot-password-modal start-->
<section class="modal" id="forgot-password-modal">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__cross">
                <div class="modal__cross--lines">
                    <span class="modal__cross--line"></span>
                    <span class="modal__cross--line"></span>
                </div>
            </div>
            <div class="modal__center">
                <h2 class="modal-sing-in__title">Не пам'ятаєте пароль?</h2>
                <div class="modal-sing-in__subtitle">
                    <p class="forgot-password__subtitle">
                        Введіть адресу електронної пошти, пов'язаної з вашим обліковим записом, і ми надішлемо вам
                        посилання для створення нового
                    </p>
                </div>
                <form action="" class="modal-sing-in__form">
                    <div class="modal-sing-in__form--inputs">
                        <label for="email" class="label">Email</label>
                        <input type="text" id="email" placeholder="Ваш Email" class="modal__input">
                    </div>
                    <div class="modal-forgot-password__back">
                        <a href="#!">Повернутися назад</a>
                    </div>
                    <div class="modal-sing-in__submit">
                        <button type="submit" value="" class="btn btn-primary">Скинути пароль</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- modals forgot-password-modal end-->