<header>
    <div class="wrapper">
        <div class="header__content">
            <ul class="header__category">
                <li class="header__category--item">
                    <a href="../404.html">жінкам</a>
                </li>
                <li class="header__category--item">
                    <a href="../404.html">чоловікам</a>
                </li>
                <li class="header__category--item">
                    <a href="../contacts.html">контакти</a>
                </li>
            </ul>
            <a href="../index.html" class="header__center--link">
                <img src="../assets/images/svg/Logo.svg" alt="Logo">
            </a>
            <div class="header__right">
                <ul class="header__links">
                    <li class="header__links--item">
                        <a href="tel:+380672549571">+38 067 25 49 571</a>
                    </li>
                    <li class="header__links--item">
                        <a href="#sing-in-modal">кабінет</a>
                    </li>
                    <li class="header__links--item">
                        <a href="#!" class="mr">
                            <img src="../assets/images/svg/search-24px.svg" alt="Search">
                        </a>
                        <a href="../order.html">
                            <img src="../assets/images/svg/local_mall-24px.svg" alt="LocalMall">
                        </a>
                    </li>
                    <li class="header__links--item">
                        <a href="#!" class="mr">EN</a>
                        <a href="#!">UA</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>