<!-- modals reset-password-modal start-->
<section class="modal" id="reset-password-modal">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__cross">
                <div class="modal__cross--lines">
                    <span class="modal__cross--line"></span>
                    <span class="modal__cross--line"></span>
                </div>
            </div>
            <div class="modal__center">
                <h2 class="modal-sing-in__title">Створіть новий пароль</h2>
                <form action="" class="modal-sing-in__form">
                    <div class="modal-sing-in__form--inputs">
                        <label for="password" class="label">Придумайте новий пароль</label>
                        <input type="password" id="password" placeholder="Ваш Пароль" class="modal__input">
                        <label for="reply-password" class="label">Підтвердіть новий пароль</label>
                        <input type="password" id="reply-password" placeholder="Ваш Пароль" class="modal__input">
                    </div>
                    <div class="modal-sing-in__submit">
                        <button type="submit" value="" class="btn btn-primary">Зберегти новий пароль</button>
                    </div>
                    <div class="modal-forgot-password__back reset-password-back">
                        <a href="#!">Скасувати</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- modals reset-password-modal end-->