<!-- modals sing-up start-->
<section class="modal" id="sing-up-modal">
    <div class="modal__wrapper">
        <div class="modal__content">
            <div class="modal__cross">
                <div class="modal__cross--lines">
                    <span class="modal__cross--line"></span>
                    <span class="modal__cross--line"></span>
                </div>
            </div>
            <div class="modal__center">
                <h2 class="modal-sing-in__title">Реєстрація</h2>
                <div class="modal-sing-in__subtitle">
                    <p>Маєте обліковий запис?</p>
                    <a href="#!">Увійти</a>
                </div>
                <form action="" class="modal-sing-in__form">
                    <div class="modal-sing-in__form--inputs">
                        <label for="name" class="label">Ім'я</label>
                        <input type="text" id="name" placeholder="Ваше Ім'я" class="modal__input">
                        <label for="email" class="label">Email</label>
                        <input type="text" id="email" placeholder="Ваш Email" class="modal__input">
                        <label for="password" class="label">Придумайте пароль</label>
                        <input type="password" id="password" placeholder="Ваш Пароль" class="modal__input">
                        <label for="reply-password" class="label">Підтвердіть пароль</label>
                        <input type="password" id="reply-password" placeholder="Ваш Пароль" class="modal__input">
                    </div>
                    <div class="modal-sing-in__form--bottom">
                        <div class="modal-sing-in__form--check">
                            <input type="radio" name="" id="">
                            <h5>Запам'ятати мене</h5>
                        </div>
                        <a href="#!" class="modal-sing-in__link">Не пам'ятаєте пароль?</a>
                    </div>
                    <div class="modal-sing-in__submit">
                        <button type="submit" value="" class="btn btn-primary">Увійти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- modals sing-up end-->